@tailwind base;
@tailwind components;
@tailwind utilities;

[data-theme="dark"]{
    --bgcolor:  linear-gradient(180deg, rgba(1,10,11,1) 0%, rgba(34,22,74,1) 50%, rgba(83,3,175,1) 100%);
    --textcolor:white; 
    --dialogtext:black;
    
}

[data-theme="light"]{
    --bgcolor: linear-gradient(180deg, rgba(239,250,252,1) 0%, rgba(151,175,175,1) 50%, rgba(40,165,168,1) 100%);
    --textcolor:black;
    --judulcolor:rgb(84, 50, 205);
    
}
[data-theme=""]{
    --bgcolor: linear-gradient(180deg, rgba(239,250,252,1) 0%, rgba(151,175,175,1) 50%, rgba(40,165,168,1) 100%);
    --textcolor:black;
    --judulcolor:rgb(84, 50, 205);
    
}

body{
    background: var(--bgcolor);
    color:var(--textcolor);
    
}
.judul{
    color:var(--judulcolor)
}

.dialogcolor{
  color:var(--dialogtext);
}